[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
websocket-client = "*"
pytz = "*"
psycopg2-binary = "*"
kafka-python = "*"
zipline = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
