/* This file is for your main application css. */
body {
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: sans-serif;
  font-size: 11px;
}

#app {
  margin-top: 70px;
}

.main-data {
  margin-top: 3em;
  font-size: 13px;
}

#candlestick, #cumulative, #price {
  height: 300px
}

.top-header {
  margin-bottom: 20px;
}
